.bg-dark {
    background-color:#0099cc !important;
    margin-bottom: 0 !important;
}
button.bg-dark:hover {
    background-color: #006699!important;
}
.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(239, 210, 182);
    text-transform: uppercase;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #006699;
    
    
}
.navimg{
    width:25%;
}

.navtext {
    color: white;
    display: none;
}

p {
    text-align: justify;
    font-size: 12px;
}

h4 {
    font-size: 15px;
}

img {
    width: 55%;
}

.leftside {
    margin-bottom: 25px;
    font-size: 12px;
}

.footer {
    background-color: #434242;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.footertext {
    text-align: center;
    color: white;
}

.footerline {
    background-color: white;
    width: 90px;
}

.table {
    font-size: 12px;
}

@media (min-width: 768px) {
    p {
        font-size: 15px;
    }
    h4 {
        font-size: 18px;
    }
    .table {
        font-size: 14px;
    }
    .leftside {
        font-size: 14px;
    }
    .navtext {
        display: none;
    }
}

@media (min-width: 992px) {
    .navtext {
        display: block;
        position: absolute;
        margin-left: 164px;
        margin-top: 15px;
    }
}

.journal_img{
    width: 30%;
    margin-bottom: 23px;
    box-shadow: 0 0 10px 0 rgba(50,50,50,.5);
}
.nav-link{
    font-size:20px;
}

.form-control{
    background-color: transparent;
    border: 1px solid #cf9214;  
    margin-right: 5px;
}

@media (min-width: 992px) {
    .form-control{
            padding-right: 162px;
    }
}

.form-control:focus{
    border-color:#feb908;  box-shadow: none; -webkit-box-shadow: none;
    background-color: transparent;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color:#0099cc;
    border: 1px solid rgba(0,0,0,.125);
    font-size: 18px;
    color:#fff;
    font-weight: 600;
    margin-top: 10px;
}

.list-group-item-action:hover {
    background-color:#006699;
    color:#ffffff
    
}
   

.searchform{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.breadcrumb{
    background-color:#fff;
    font-size:medium;
    padding-left:0;

}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.journal {
    font-family:serif;
}

.editor{
    color:#007398;
}

.logo_text{
    font-family:serif;
    text-align: center;
    font-size: 30px;
}

.sajith_logo{
    
}